.create__container--btnDiv {
  padding-top: 5rem;
  button {
    border: none;
    box-sizing: border-box;
    border-radius: 0.4rem;
    padding: 1.98rem 3.8rem;
    width: 100%;
    max-width: 14.487rem;
    background-color: #000;
    color: #fff;
  }
}
