.homeFAQ {
  padding-top: 4.4rem;
  padding-bottom: 9.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    width: 69.3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &--title {
      font-size: 3.6rem;
    }
    &__data {
      display: flex;
      flex-direction: column;
      &--questionDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--question {
          width: 90%;
          font-style: normal;
          font-weight: 600;
          font-size: 1.5rem;
          line-height: 2rem;
          max-width: 81rem;
          display: flex;
          align-items: center;
          gap: 1.5rem;
        }

        &--iconDiv {
          padding: 1.45rem 1.65rem;
          background-color: #eceff4;
          border-radius: 5rem;
        }
      }
    }
    &--btnDiv {
      padding-top: 5rem;
      button {
        border: 0.1rem solid #000000;
        box-sizing: border-box;
        border-radius: 0.4rem;
        padding: 1.5rem 3.8rem;
        max-width: 14.8rem;
        min-width: 14.6rem;
        background-color: #fff;
      }
    }
  }
}
